<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div> <a class="navbar-brand" routerLink="/employer-page"><i class="fa-solid fa-magnifying-glass"></i>online job
        portal</a>
      <a class="navbar-brand" routerLink="/about-us"> About us</a>
      <a class="navbar-brand" routerLink="/contact-us"></a>
    </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="bar">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/post-job">
              <p>add Job</p>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employer-jobs">
              <p>My Jobs</p>
            </a>
          </li> 

          <li><button class="btn" (click)="Logout()">
              <i style="color: #f10606">Logout</i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container">
  <h1>My Jobs</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Company name</th>
        <th>Job Description</th>
        <th>skills Required</th>
        <th>street</th>
        <th>city</th>
        <th>pincode</th>
        <th>state</th>
        <th>country</th>
        <th>job Type</th>
        <th>salary Range</th>
        <th>experience</th>
        <th>category Id</th>
        <th>jobCategory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td routerLink="/jai/{{job.jobId}}">{{job.jobId}}</td>
        <td>{{job.title}}</td>
        <td>{{job.companyName}}</td>
        <td>{{job.jobDescription}}</td>
        <td>{{job.skillsRequired}}</td>
        <td>{{job.street}}</td>
        <td>{{job.city}}</td>
        <td>{{job.pincode}}</td>
        <td>{{job.state}}</td>
        <td>{{job.country}}</td>
        <td>{{job.jobType}}</td>
        <td>{{job.salaryRange}}</td>
        <td>{{job.experience}}</td>
        <td>{{job.category.categoryId}}</td>
        <td>{{job.category.jobCategory}}</td>



      </tr>
    </tbody>
  </table>

</div>