<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div> <a class="navbar-brand" routerLink="/employee-page"><i class="fa-solid fa-magnifying-glass"></i>online job
          portal</a>
        <a class="navbar-brand" routerLink="/about-us"> About us</a>
        <a class="navbar-brand" routerLink="/contact-us">Contact us</a>
      </div>
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="bar">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee-profile">
                <p>My Profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee-jobapplications">
                <p>Applied Jobs</p>
              </a>
            </li>
            <li><button class="btn" (click)="Logout()">
                <i style="color: #f10606">Logout</i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

<div class="container-fluid mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="assets/job-image-1.jpg" alt="product.imageUrl" width="200px">
        </div>
        <div class="col-4">

            <h3>{{job.title}}</h3>
            <p>{{job.companyName}}</p>
            <p>{{job.country}}</p>
            <p>{{job.jobType}}</p>
            <p>{{job.category.jobCategory}}</p>
            <p>{{job.city}}</p>
            <p>{{job.experience}}</p>
            <p>{{job.salaryRange}}</p>
            <p>{{job.jobDescription}}</p>

            <form [formGroup]="jobFormGroup" (ngSubmit)="apply()">

                <div formGroupName="employee">
                    <input type="text" formControlName="employeeId" [(ngModel)]="currentEmployeeId" hidden>

                </div>
                <div formGroupName="job">
                    <input type="text" formControlName="jobId" [(ngModel)]="job.jobId" hidden>

                </div>
                <div>
                    <input type="submit" class="btn btn-success" value="Apply">
                </div>
            </form>

        </div>

    </div>

</div>